---
import Layout from "../layouts/Layout.astro";
import DropZone from "../components/DropZone.astro";
import MainContainer from "../components/MainContainer.astro";
---

<Layout title="Inpaint con Loras">
  <MainContainer showLoraSelect={true}>
    <div id="dropzone-container" slot="image-container">
      <DropZone id="dropZone" />
    </div>
  </MainContainer>
</Layout>