---
interface Props {
  id: string;
}

const { id } = Astro.props;
---

<div id="dropZone">
  <div
    id="container"
    class="group relative flex aspect-3/2 w-full cursor-pointer flex-col items-center justify-center rounded-lg border-2 border-dashed border-gray-300 bg-gray-50 transition-colors hover:border-indigo-500"
  >
    <button
      id="downloadCanvasBtn"
      class="absolute top-2 right-2 rounded-full bg-indigo-600 p-2 text-white opacity-0 transition-opacity duration-300 group-hover:opacity-100"
      title="Descargar imagen"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-5 w-5"
        viewBox="0 0 20 20"
        fill="currentColor"
      >
        <path
          fill-rule="evenodd"
          d="M3 17a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zm3.293-7.707a1 1 0 011.414 0L9 10.586V3a1 1 0 112 0v7.586l1.293-1.293a1 1 0 111.414 1.414l-3 3a1 1 0 01-1.414 0l-3-3a1 1 0 010-1.414z"
          clip-rule="evenodd"></path>
      </svg>
    </button>
    <div id={`content`} class="p-4 text-center">
      <svg
        class="mx-auto h-12 w-12 text-gray-400"
        stroke="currentColor"
        fill="none"
        viewBox="0 0 48 48"
      >
        <path
          d="M28 8H12a4 4 0 00-4 4v20m32-12v8m0 0v8a4 4 0 01-4 4H12a4 4 0 01-4-4v-4m32-4l-3.172-3.172a4 4 0 00-5.656 0L28 28M8 32l9.172-9.172a4 4 0 015.656 0L28 28m0 0l4 4m4-24h8m-4-4v8m-12 4h.02"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
      </svg>
      <p class="mt-2 text-sm text-gray-600">
        Arrastra y suelta tu imagen aquí, o
      </p>
      <button
        type="button"
        class="rounded-md bg-indigo-600 px-4 py-2 text-white hover:bg-indigo-700 focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 focus:outline-hidden"
        onclick={`document.getElementById('fileupload').click()`}
      >
        Selecciona un archivo
      </button>
      <input
        type="file"
        id="fileupload"
        accept="image/*"
        class="hidden"
        multiple
      />
    </div>
    <canvas id="canvas" class="hidden w-full"></canvas>
  </div>
  <div class="my-2 flex flex-col items-center gap-2">
    <div class="hidden w-2/3 flex-row items-center gap-2" id="maskSettings">
      <div class="flex gap-2">
        <button
          id="blackMask"
          class="h-8 w-8 rounded-full border-2 border-gray-300 bg-black hover:border-indigo-500 focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 focus:outline-hidden"
          title="Máscara negra"></button>
        <button
          id="whiteMask"
          class="h-8 w-8 rounded-full border-2 border-gray-300 bg-white hover:border-indigo-500 focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 focus:outline-hidden"
          title="Máscara blanca"></button>
      </div>
      <div class="flex w-full flex-col gap-2">
        <label class="mb-0.5 block text-sm font-medium text-gray-700"
          >Grosor del pincel</label
        >
        <input
          type="range"
          id="brushSize"
          min="5"
          max="200"
          value="100"
          class="h-2 w-full cursor-pointer appearance-none rounded-lg bg-gray-200"
        />
        <span id="brushSizeValue" class="mt-1 block text-sm text-gray-600"
          >100</span
        >
      </div>
    </div>
    <button
      id="clearMask"
      class="hidden rounded-sm bg-red-500 px-16 py-2 text-white hover:bg-red-600"
    >
      Limpiar Máscara
    </button>
  </div>
</div>
