---
const className = ["flex justify-center", Astro.props.class]
  .filter(Boolean)
  .join(" ");
---

<nav class={className}>
  <div class="flex justify-center whitespace-nowrap">
    <a
      href="/lorasuib/"
      class="tab-link px-4 py-2 rounded-t-lg font-semibold text-gray-700 hover:bg-indigo-100 whitespace-nowrap {Astro.url.pathname === '/' ? 'active-tab' : ''}"
      >Generación de imágenes</a
    >
    <a
      href="/lorasuib/inpaint-loras/"
      class="tab-link px-4 py-2 rounded-t-lg font-semibold text-gray-700 hover:bg-indigo-100 whitespace-nowrap {Astro.url.pathname === '/inpaint-loras' ? 'active-tab' : ''}">
      Inpaint con Loras
    </a>
    <a
      href="/lorasuib/face-enhancer/"
      class="tab-link px-4 py-2 rounded-t-lg font-semibold text-gray-700 hover:bg-indigo-100 whitespace-nowrap {Astro.url.pathname === '/face-enhancer' ? 'active-tab' : ''}">
      Face Enhancer
    </a>
  </div>
</nav>
