<div class="mb-4 rounded-lg bg-white p-4 shadow-lg" id="img-cont">
  <slot name="image-container" />
  <div
    id="imageHistory"
    class="mt-2 flex h-24 items-center rounded-sm border bg-gray-50 p-2"
  >
    <div class="flex h-full space-x-2 overflow-x-auto pb-2">
      <!-- History images will be added here dynamically -->
    </div>
  </div>
</div>

<script>
  import { initializeUI } from "../lib/initializeUI";
  const apiEndpointWorkflow =
    window.location.pathname == "/lorasuib/inpaint-loras/"
      ? "/generate-mask"
      : window.location.pathname == "/lorasuib/face-enhancer/"
        ? "/face-enhancer"
        : "/generate-simple";

  console.log(window.location.pathname);
  initializeUI(apiEndpointWorkflow);
</script>
