---
import ImageContainer from "./ImageContainer.astro";
import PropsContainer from "./props/PropsContainer.astro";

const props = Astro.props;
interface Props {
  showLoraSelect?: boolean;
}
---

<div class="mx-auto flex flex-row justify-center gap-6">
  <div class="max-w-4xl">
    <ImageContainer>
      <slot name="image-container" slot="image-container">
        <div
          id="generatedImage"
          class="flex aspect-3/2 w-full items-center justify-center rounded-sm border bg-gray-50"
        >
          <p class="text-gray-500">Generated image will appear here</p>
          <img
            id="imageOutput"
            src=""
            alt="Generated Image"
            class="absolute top-0 left-0 hidden h-full w-full object-contain"
          />
        </div>
      </slot>
    </ImageContainer>
    <PropsContainer />
  </div>
  <aside
    class="flex h-fit max-w-xs flex-col gap-4 rounded-sm border bg-gray-50 p-6 shadow-lg"
  >
    <section>
      <header>
        <h4
          class="mb-2 w-3/5 border-b border-gray-300 pb-1 text-xl font-semibold"
        >
          Información
        </h4>
      </header>
      <div class="flex flex-col gap-2">
        <slot name="info-container" />
      </div>
    </section>
    <section>
      <header>
        <h4
          class="mb-2 w-3/5 border-b border-gray-300 pb-1 text-xl font-semibold"
        >
          Consejos
        </h4>
      </header>
      <div class="flex flex-col gap-1">
        <slot name="tips-container"></slot>
      </div>
    </section>
  </aside>
</div>
